<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football Rating</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

    <header class="header">

        <div class="logo">

            <i class="fa-solid fa-futbol"></i>

            Football Rating

        </div>

        <nav>

            <a asp-controller="Home" asp-action="Index">
                Trang chủ
            </a>

            <a asp-controller="Home" asp-action="Admin">
                Quản lý
            </a>

            <a asp-controller="Home" asp-action="TopScores">
                🏆 Vua phá lưới
            </a>
               

        </nav>

    </header>

    <main>

        @RenderBody()

    </main>

</body>
</html>
