html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #08111F;
    color: white;
}

/*================ HEADER ================*/

.header {
    width: 100%;
    height: 75px;
    background: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    border-bottom: 1px solid rgba(255,255,255,.08);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #2DD4BF;
}

    .logo i {
        margin-right: 10px;
    }

nav {
    display: flex;
    gap: 35px;
}

    nav a {
        color: white;
        text-decoration: none;
        transition: .3s;
        font-weight: 500;
    }

        nav a:hover {
            color: #2DD4BF;
        }

main {
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.hero {
    text-align: center;
    margin-bottom: 50px;
}

    .hero h1 {
        font-size: 55px;
        color: #2DD4BF;
        letter-spacing: 3px;
    }

    .hero p {
        margin-top: 10px;
        color: #bdbdbd;
        font-size: 18px;
    }

.player-container {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    justify-content: center;
    gap: 30px;
}

.player-card {
    background: #111827;
    border-radius: 22px;
    padding: 25px;
    text-align: center;
    transition: .35s;
    border: 1px solid rgba(255,255,255,.08);
    position: relative;
    overflow: hidden;
}

    .player-card:hover {
        transform: translateY(-12px);
        box-shadow: 0 0 30px #2DD4BF55;
    }

    .player-card::before {
        content: "";
        position: absolute;
        width: 250px;
        height: 250px;
        background: #2DD4BF22;
        border-radius: 50%;
        top: -120px;
        right: -120px;
    }

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ovr {
    font-size: 40px;
    color: #FFD54F;
    font-weight: bold;
}

.position {
    font-size: 18px;
    background: #2DD4BF;
    color: black;
    padding: 6px 14px;
    border-radius: 50px;
    font-weight: 600;
}

.player-card img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 0;
    border: 5px solid #2DD4BF;
}

.player-card h2 {
    margin-bottom: 20px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
    margin-bottom: 25px;
}

    .stats div {
        background: #1F2937;
        padding: 10px;
        border-radius: 10px;
    }

    .stats span {
        color: #9ca3af;
        display: block;
        font-size: 13px;
    }

    .stats strong {
        color: white;
        font-size: 20px;
    }

.detail-btn {
    display: block;
    text-decoration: none;
    background: #2DD4BF;
    color: black;
    padding: 13px;
    border-radius: 12px;
    font-weight: bold;
    transition: .3s;
}

    .detail-btn:hover {
        background: white;
    }

.details-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.left-card {
    width: 320px;
    background: #111827;
    border-radius: 25px;
    text-align: center;
    padding: 35px;
    border: 1px solid #2DD4BF55;
}

.rating {
    font-size: 60px;
    color: #FFD54F;
    font-weight: bold;
}

.left-card img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
    border: 5px solid #2DD4BF;
}

.left-card h1 {
    margin-bottom: 10px;
}

.left-card span {
    background: #2DD4BF;
    color: black;
    padding: 8px 25px;
    border-radius: 50px;
    font-weight: 600;
}

.right-card {
    flex: 1;
    background: #111827;
    padding: 35px;
    border-radius: 25px;
}

    .right-card h2 {
        margin-bottom: 30px;
    }

.stats div {
    margin-bottom: 20px;
}

label {
    width: 50px;
    display: inline-block;
    font-weight: bold;
}

.bar {
    width: 70%;
    height: 12px;
    background: #1f2937;
    display: inline-block;
    border-radius: 30px;
    margin: 0 15px;
}

    .bar div {
        height: 100%;
        background: #2DD4BF;
        border-radius: 30px;
    }

.hidden-stats {
    margin-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
}

    .grid div {
        background: #1F2937;
        padding: 18px;
        border-radius: 15px;
    }

.back {
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    background: #2DD4BF;
    color: black;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: bold;
}

.admin {
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

    .title h1 {
        color: #2DD4BF;
    }

.add-btn {
    background: #2DD4BF;
    color: #000;
    padding: 13px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

    .add-btn:hover {
        transform: translateY(-3px);
    }

table {
    width: 100%;
    border-collapse: collapse;
    background: #111827;
    border-radius: 20px;
    overflow: hidden;
}

thead {
    background: #2DD4BF;
    color: black;
}

th {
    padding: 18px;
}

td {
    text-align: center;
    padding: 18px;
    border-bottom: 1px solid #1F2937;
}

tbody tr {
    transition: .3s;
}

    tbody tr:hover {
        background: #1F2937;
    }

img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.ovr {
    background: #FFD54F;
    color: black;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
}

.edit {
    color: #2DD4BF;
    margin-right: 15px;
    font-size: 22px;
}

.delete {
    color: #EF4444;
    font-size: 22px;
}

body {
    background: #08111F;
}

.form-box {
    width: 700px;
    margin: 40px auto;
    background: #111827;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,.35);
}

    .form-box h1 {
        text-align: center;
        color: #2DD4BF;
        margin-bottom: 35px;
    }

    .form-box h3 {
        margin: 30px 0 20px;
        color: white;
    }

.group {
    margin-bottom: 20px;
}

    .group label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
    }

    .group input,
    .group select {
        width: 100%;
        padding: 14px;
        background: #1F2937;
        border: 1px solid #374151;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        outline: none;
    }

        .group input:focus,
        .group select:focus {
            border-color: #2DD4BF;
        }

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.button-box {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.save {
    background: #2DD4BF;
    color: black;
    border: none;
    padding: 14px 35px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}

    .save:hover {
        transform: translateY(-3px);
    }

.cancel {
    background: #EF4444;
    color: white;
    padding: 14px 35px;
    border-radius: 10px;
    text-decoration: none;
    transition: .3s;
}

    .cancel:hover {
        transform: translateY(-3px);
    }

.grid h3 {
    margin-top: 10px;
    color: #2DD4BF;
    font-size: 28px;
}

.grid strong {
    color: #ccc;
    font-size: 15px;
}
.record-box {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 30px 0;
}

.record-item {
    width: 180px;
    background: #1F2937;
    border: 1px solid rgba(45,212,191,.4);
    border-radius: 15px;
    padding: 18px;
    text-align: center;
}

    .record-item span {
        color: #9CA3AF;
        font-size: 15px;
        display: block;
    }

    .record-item h2 {
        color: #FFD54F;
        margin-top: 10px;
        font-size: 34px;
    }

.grid h3 {
    color: #2DD4BF;
    margin-top: 8px;
}

.grid strong {
    color: #D1D5DB;
}

/*================ VUA PHÁ L??I ================*/

.top-title {
    text-align: center;
    margin-bottom: 40px;
}

    .top-title h1 {
        color: #FFD54F;
        font-size: 45px;
    }

    .top-title p {
        color: #bdbdbd;
        margin-top: 10px;
    }

/* Top 3 */

.top-three {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    margin-bottom: 50px;
}

.top-card {
    width: 260px;
    background: #111827;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    border: 2px solid #2DD4BF44;
    transition: .3s;
}

    .top-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 25px rgba(45,212,191,.35);
    }

    .top-card.first {
        transform: scale(1.08);
        border: 2px solid gold;
    }

    .top-card img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid #2DD4BF;
        margin: 20px 0;
    }

.rank {
    font-size: 45px;
}

.player-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.goal {
    color: #FFD54F;
    font-size: 34px;
    font-weight: bold;
}

.match {
    color: #9CA3AF;
    margin-top: 8px;
}

/* B?ng x?p h?ng */

.scorer-table {
    width: 100%;
    background: #111827;
    border-radius: 20px;
    overflow: hidden;
    border-collapse: collapse;
}

    .scorer-table thead {
        background: #2DD4BF;
        color: black;
    }

    .scorer-table th {
        padding: 18px;
    }

    .scorer-table td {
        padding: 18px;
        text-align: center;
        border-bottom: 1px solid #1F2937;
    }

    .scorer-table tbody tr {
        transition: .3s;
    }

        .scorer-table tbody tr:hover {
            background: #1F2937;
        }

    .scorer-table img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }

.goal-text {
    color: #FFD54F;
    font-size: 22px;
    font-weight: bold;
}

.rank1 {
    color: gold;
    font-size: 28px;
}

.rank2 {
    color: silver;
    font-size: 28px;
}

.rank3 {
    color: #cd7f32;
    font-size
}